@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.text-box {
  font-weight: bold;
  color: #0077b7;
}

.box-box {
  transform: translateY(0%);
  transition: inherit;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.box-container:hover .box-box {
  transform: translateY(-50%);
  transition-duration: 400ms;
}

.contact-button:hover .shake {
  animation: tilt-shaking 0.7s infinite;
}

@keyframes sliding {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.titles:before,
.titles:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.titles:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #111827);
}

.titles:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #111827);
}


.titles {
  overflow: hidden;
  background-color: #0077b7;
  padding: 30px 0px;
  background: linear-gradient(#111827, #374151);
    white-space: nowrap;
    position: relative;
}

.titles-slide {
  
  display: inline-block;
  animation: sliding 45s infinite linear;
}

.titles-slide p {
  text-align: center;
  display: inline-block;
  margin: 0px 60px;
}